@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.icon-switch {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  color: rgb(55, 55, 55);
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;

  align-self: end;
  cursor: pointer;
}
